{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "spaceInParens": true,
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "ignorePath": ".prettierignore"
}
